[submodule "Libraries/Mantle"]
	path = Libraries/Mantle
	url = https://github.com/MantleFramework/Mantle.git
[submodule "Libraries/CRGradientNavigationBar"]
	path = Libraries/CRGradientNavigationBar
	url = https://github.com/chroman/CRGradientNavigationBar.git
